# Entwicklungsabhängigkeiten.
# Installation: pip install -r dev-requirements.txt --no pydantic --no pydantic-core


# Dokumentation
sphinx
sphinx-rtd-theme
sphinx-autoapi

# Code-Qualität
pylint
bandit
safety

# Testing
pytest-mock
pytest-asyncio
pytest-xdist

# Typ-Überprüfung
types-setuptools
types-requests